body {
  background: #845460;

}

.container-fluid{
  padding: 2% 10%;

}

h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  line-height: 1.5;
  color: #edffa9;
}

h3{
  font-family: 'Ubuntu Condensed', sans-serif;
}

body{
  font-family: 'Ubuntu Condensed', sans-serif;
}

 .navbar-brand{
  font-size: 2rem;
  font-weight: bold;
  color: #903749;
} 
.navbar-nav{
padding: 0% 54%;
}
.nav-item{
  padding: 0 10px;
}
.nav-link{
  font-size: 1.2rem;
  padding: 1px;
}
.download-button{
    margin: 5% 3% 2% 99px;  
}
.download-button a{
  text-decoration: none;
  color: black;
}

.title-image{
  transform: rotate(25deg);
}

/*features section*/
/* #features{
  padding:7% 15%;
    background-color:  #c6ebc9;
}
.feature-box{
  text-align: center;
  padding:5%;

}
.icon{
  color: #ec5858;
  margin-bottom: 1rem;
}

.icon:hover{
  color: #0e918c;
}
#founder{
  padding:7% 15%;
  text-align: center;
  background-color: #0e918c;
  color: #faf2da;
}
.founder-image{
  width: 20%;
  border-radius: 100%;
  margin: 20px;
}
#brand{
  background-color: #c6ffc1;
text-align: center;
padding: 7% 15%;
}
.brand-logo{
  width: 20%;
  margin: 20px 20px 50px;
} */

@media (max-width:1028px){

#title{
  text-align: center;
}
  .title-image{
    position: static;
  }
}

#social{
  padding-left: 85%;
  margin: -34px 0px -2px 14px;
}
.logos{
  
  padding: 8px 8px  ;
  
}

#footer{
  
    position: fixed;
     left: 0; 
    bottom: 0;
    width: 100%;
    background-color:black;
    color: white;
    padding: 9px 78px;
    /* text-align: center; */
  
}
